/* /Pages/Components/CardsMenu.razor.rz.scp.css */
body[b-qrno289psk] {
}


@media (min-width: 768px) {

    .ul-style[b-qrno289psk] {
        height: 100vh;
        /*
                    border-style: solid;
        border-color: slateblue;
        */

        overflow: auto
    }
}


@media (max-width: 768px) {

    .ul-style[b-qrno289psk] {
        height: 30vh;
        /*
        border-style: solid;
        border-color: burlywood;
        */
        
       
    }
}

#cards-list[b-qrno289psk] {
    background-color: bisque;
}

/* width */
#cards-list[b-qrno289psk]::-webkit-scrollbar {
    width: 1px;
}

[b-qrno289psk]::-webkit-scrollbar {
    width: 1px;
    
}

/* /Pages/Components/CollectionsMenu.razor.rz.scp.css */
body[b-vle9q6oerg] {
}

@media (min-width: 768px) {

    .ul-style[b-vle9q6oerg] {
        height: 100vh;
        /*
 border-style: solid;
        border-color: burlywood;
        */

        overflow: auto
    }
}


@media (max-width: 768px) {

    .ul-style[b-vle9q6oerg] {
        height: 30vh;
        /*
              border-style: solid;
        border-color: burlywood;
        */

        overflow: auto
    }
}

[b-vle9q6oerg]::-webkit-scrollbar {
    width: 1px;
}
/* /Pages/Components/NoteCardsMenu.razor.rz.scp.css */
body[b-z1ve5mkxkt] {
}


@media (min-width: 768px) {

    .ul-style[b-z1ve5mkxkt] {
        height: 100vh;
        /*
 border-style: solid;
        border-color: burlywood;
        */
      
        overflow: auto
    }
}


@media (max-width: 768px) {

    .ul-style[b-z1ve5mkxkt] {
        height: 30vh;
        /*
              border-style: solid;
        border-color: burlywood;
        */
       
        overflow: auto
    }
}

.nc-style[b-z1ve5mkxkt] {
    /*
    background-image: linear-gradient(to right bottom, #ff7f50,#ff8c5a,#ff9965,#ffa571,#ffb07e );
background-image: linear-gradient(to right bottom, #ff7f50,#ff6b85,#ef6eba,#b880e3,#5e92f3 );
    */
    background-image: linear-gradient(to left top, #ff7f50,#ff8c5a,#ff9965,#ffa571,#ffb07e );
   
    border-radius: 6px;
}

.ncText-style[b-z1ve5mkxkt] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:pre-wrap;
    
}
/* /Pages/Components/NoteTools.razor.rz.scp.css */
body[b-bpqwveuwv6] {
}

.flexbtn[b-bpqwveuwv6] {
    flex: 40%; 
    margin: 10px;
    padding: 10px;
    
}

.toolstyle[b-bpqwveuwv6] {
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:small;
    color:black;
}
/* /Pages/Components/SNExpandable.razor.rz.scp.css */
body[b-rfu6aujc7u] {
    
}

div[b-rfu6aujc7u] {
    border: 1px solid #003c8f;
   
}
span[b-rfu6aujc7u] {
   
    
   display:inline-block;
   width:85%;
   text-align:center;
  
   
}

.expanded[b-rfu6aujc7u] {
    background-color: transparent;
    animation-name: expandedanimation-b-rfu6aujc7u;
    animation-duration: 0.8s;
    height: 120px;
   
}


@keyframes expandedanimation-b-rfu6aujc7u {
    0% {
        height: 20px;
      
    }


    100% {
        height: 120px;
        
    }
}

.unexpanded[b-rfu6aujc7u] {
    background-color: transparent;
    height: 20px;
    animation-name: unexpandedanimation-b-rfu6aujc7u;
    animation-duration: 0.8s;
    
}

@keyframes unexpandedanimation-b-rfu6aujc7u {
    0% {
        height: 120px;
    
    }


    100% {
        

        height: 20px;
       
    }
}

.childcontent[b-rfu6aujc7u] {
    position: relative;
    animation-name: contentanim-b-rfu6aujc7u;
    animation-duration: 0.7s;
    border: none
}
@keyframes contentanim-b-rfu6aujc7u {
    0% {
        left: 0px;
        top: -25px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

#label[b-rfu6aujc7u] {
    position: relative;
    top: -10px;
    border: none;
    background-color: #5e92f3;
    border-radius: 3px;
}
/* /Pages/DropZonePg.razor.rz.scp.css */
body[b-skfs493v7z] {
}


@media (min-width: 768px) {

    .dropzone-style[b-skfs493v7z] {
        overflow: auto;
        white-space: nowrap;
    }
}
/* /Pages/FetchData.razor.rz.scp.css */

h1[b-a9n1frdwkj] {
    color: burlywood;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body[b-a9n1frdwkj] {
}
/* /Pages/NoteCardsPg.razor.rz.scp.css */
body[b-3hcsrndfyc] {
}

ul.nclist-style[b-3hcsrndfyc], li[b-3hcsrndfyc] 
{
    display: inline-block;
    
}

.navbuttons[b-3hcsrndfyc] {
    /* Set the display property to flex to make the element a flex container */
    display: none;
    /* Set the flex-direction property to column to stack the child elements vertically */
    flex-direction: column;
    /* Optionally, set the align-items property to start to align the child elements horizontally within the container */
    align-items: start;
    /* Optionally, set the justify-content property to start to align the child elements vertically within the container */
    justify-content: start;
}

.shownavbtns:hover + .navbuttons[b-3hcsrndfyc] {
    display: flex;
}
.navbuttons:hover[b-3hcsrndfyc] {
    display: flex;
}

.nullnotecardpg[b-3hcsrndfyc] {
    width: 100vw;
    height: 100vh;
   
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-d3cbnxfwwv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-d3cbnxfwwv] {
    flex: 1;
}

.sidebar[b-d3cbnxfwwv] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-d3cbnxfwwv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-d3cbnxfwwv]  a, .top-row[b-d3cbnxfwwv]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-d3cbnxfwwv]  a:hover, .top-row[b-d3cbnxfwwv]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-d3cbnxfwwv]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-d3cbnxfwwv] {
        display: none;
    }

    .top-row.auth[b-d3cbnxfwwv] {
        justify-content: space-between;
    }

    .top-row[b-d3cbnxfwwv]  a, .top-row[b-d3cbnxfwwv]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-d3cbnxfwwv] {
        flex-direction: row;
    }

    .sidebar[b-d3cbnxfwwv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-d3cbnxfwwv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-d3cbnxfwwv]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-d3cbnxfwwv], article[b-d3cbnxfwwv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gtbtrpzvtd] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gtbtrpzvtd] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gtbtrpzvtd] {
    font-size: 1.1rem;
}

.oi[b-gtbtrpzvtd] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gtbtrpzvtd] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gtbtrpzvtd] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gtbtrpzvtd] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gtbtrpzvtd]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gtbtrpzvtd]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-gtbtrpzvtd]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gtbtrpzvtd] {
        display: none;
    }

    .collapse[b-gtbtrpzvtd] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/SNMainLayout.razor.rz.scp.css */





@media (min-width: 768px) {
    .navbar .container-fluid[b-7dgyrkm5s7], .navbar-collapse[b-7dgyrkm5s7], .navbar-nav[b-7dgyrkm5s7] {
        /*
  flex-direction: column;
        align-items: flex-start;
       */
    }

   
    .navbar-brand[b-7dgyrkm5s7]{
        margin-left: .5rem;
        
    }

    
}


.navbar .navbar-nav .nav-link[b-7dgyrkm5s7] {
    color: black;
    font-size: 1.1em;
}

.navbar-brand[b-7dgyrkm5s7] {
    font-size: 1.5em;
    font-weight: bold;
}



body[b-7dgyrkm5s7] {

}
/* /Shared/SNNavMenu.razor.rz.scp.css */



@media (min-width: 768px) {
    .navbar-nav[b-5iz0rivyh9] {
        flex-direction: column;
        align-items: flex-start;
    }

    .ul-style[b-5iz0rivyh9] {
        height: 100vh;
        /*
        border-style: solid;
        
           border-color:blue;
       */
    }
   
}



.navbar-nav .nav-link[b-5iz0rivyh9] {
    color: black;
    font-size: 1.1em;
}

.list-group-item[b-5iz0rivyh9] {

}



body[b-5iz0rivyh9] {
}
