@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* /Pages/Components/CardsMenu.razor.rz.scp.css */
body[b-qrno289psk] {
}


@media (min-width: 768px) {

    .ul-style[b-qrno289psk] {
        height: 100vh;
        /*
                    border-style: solid;
        border-color: slateblue;
        */

        overflow: auto
    }
}


@media (max-width: 768px) {

    .ul-style[b-qrno289psk] {
        height: 30vh;
        /*
        border-style: solid;
        border-color: burlywood;
        */
        
       
    }
}

#cards-list[b-qrno289psk] {
    background-color: bisque;
}

/* width */
#cards-list[b-qrno289psk]::-webkit-scrollbar {
    width: 1px;
}

[b-qrno289psk]::-webkit-scrollbar {
    width: 1px;
    
}

/* /Pages/Components/CollectionsMenu.razor.rz.scp.css */
body[b-vle9q6oerg] {
}

@media (min-width: 768px) {

    .ul-style[b-vle9q6oerg] {
        height: 100vh;
        /*
 border-style: solid;
        border-color: burlywood;
        */

        overflow: auto
    }
}


@media (max-width: 768px) {

    .ul-style[b-vle9q6oerg] {
        height: 30vh;
        /*
              border-style: solid;
        border-color: burlywood;
        */

        overflow: auto
    }
}

[b-vle9q6oerg]::-webkit-scrollbar {
    width: 1px;
}
/* /Pages/Components/NavButtons.razor.rz.scp.css */

body[b-o60l30yyb9] {
}

ul.nclist-style[b-o60l30yyb9], li[b-o60l30yyb9] 
{
    display: inline-block;
    
}

.navbuttons[b-o60l30yyb9] {
    /* Set the display property to flex to make the element a flex container */
    display: none;
    /* Set the flex-direction property to column to stack the child elements vertically */
    flex-direction: column;
    /* Optionally, set the align-items property to start to align the child elements horizontally within the container */
    align-items: start;
    /* Optionally, set the justify-content property to start to align the child elements vertically within the container */
    justify-content: start;
}



.shownavbtns:hover + .navbuttons[b-o60l30yyb9] {
    display: flex;
}
.navbuttons:hover[b-o60l30yyb9] {
    display: flex;
}



.npnavbutton[b-o60l30yyb9] {
    width:32px;
    height:32px;
    background-color:#1565c0;
}

.npnavbutton-disabled[b-o60l30yyb9] {
    width: 32px;
    height: 32px;
}
.npnavbutton:hover[b-o60l30yyb9] {
    width: 32px;
    height: 32px;
    background-color: #5e92f3;
    
}


.npnavbutton:active[b-o60l30yyb9] {
    width: 32px;
    height: 32px;
    background-color: #003c8f;
}

/* Tooltip container */
.sn-tooltip[b-o60l30yyb9] {
    position: relative;
    display: inline-block;
}

    /* Tooltip text */
    .sn-tooltip .sn-tooltiptext[b-o60l30yyb9] {
        visibility: hidden;
        min-width: 200px;
        background-color: #1565c0;
        color: #f5f5f5;
        text-align: center;
        border-radius: 4px;
        border:1px solid darkgray;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        margin-left: -32px;
    }

        /* Position the first tooltip */
        .sn-tooltip .sn-tooltiptext.sn-tooltip-up[b-o60l30yyb9] {
            bottom: 115%;
            left: 100%;
        }

        /* Position the second tooltip */
        .sn-tooltip .sn-tooltiptext.sn-tooltip-right[b-o60l30yyb9] {
            bottom: 0%;
            left: 210%;
        }

/* Show tooltip on hover */

    .sn-tooltip:hover .sn-tooltiptext[b-o60l30yyb9],
    .sn-tooltip:focus .sn-tooltiptext[b-o60l30yyb9] {
        visibility: visible;
    }


.expander-style[b-o60l30yyb9] {
    width: 50%;
    left: 25%;
    position: absolute;
    bottom: 10px;
    background-color: white
}
@media (max-width: 600px) {
    expander-style[b-o60l30yyb9] {
        width: 75%;
        left: 12%;
        position: absolute;
        bottom: 10px;
        background-color: greenyellow
    }
}

.sn-container[b-o60l30yyb9] {
    position: relative;
    height: 100vh; /* Set a height to the container so it takes the full viewport height */
}

.sn-addnotebutton[b-o60l30yyb9] {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-39%, -50%);
}
/* /Pages/Components/NoteCardsMenu.razor.rz.scp.css */
body[b-z1ve5mkxkt] {
}


@media (min-width: 768px) {

    .ul-style[b-z1ve5mkxkt] {
        height: 100vh;
        /*
 border-style: solid;
        border-color: burlywood;
        */
      
        overflow: auto
    }
}


@media (max-width: 768px) {

    .ul-style[b-z1ve5mkxkt] {
        height: 30vh;
        /*
              border-style: solid;
        border-color: burlywood;
        */
       
        overflow: auto
    }
}

.nc-style[b-z1ve5mkxkt] {
    /*
    background-image: linear-gradient(to right bottom, #ff7f50,#ff8c5a,#ff9965,#ffa571,#ffb07e );
background-image: linear-gradient(to right bottom, #ff7f50,#ff6b85,#ef6eba,#b880e3,#5e92f3 );
    */
    background-image: linear-gradient(to left top, #ff7f50,#ff8c5a,#ff9965,#ffa571,#ffb07e );
   
    border-radius: 6px;
}

.ncText-style[b-z1ve5mkxkt] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:pre-wrap;
    
}
/* /Pages/Components/NoteTools.razor.rz.scp.css */
body[b-bpqwveuwv6] {
}

.flexbtn[b-bpqwveuwv6] {
    flex: 40%; 
    margin: 10px;
    padding: 10px;
    
}

.toolstyle[b-bpqwveuwv6] {
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:small;
    color:black;
}
/* /Pages/Components/SNExpandable.razor.rz.scp.css */
body[b-rfu6aujc7u] {
    
}

div[b-rfu6aujc7u] {
    border: 1px solid #003c8f;
   
}
span[b-rfu6aujc7u] {
   
    
   display:inline-block;
   width:85%;
   text-align:center;
  
   
}

.expanded[b-rfu6aujc7u] {
    background-color: transparent;
    animation-name: expandedanimation-b-rfu6aujc7u;
    animation-duration: 0.8s;
    height: 120px;
   
}


@keyframes expandedanimation-b-rfu6aujc7u {
    0% {
        height: 20px;
      
    }


    100% {
        height: 120px;
        
    }
}

.unexpanded[b-rfu6aujc7u] {
    background-color: transparent;
    height: 20px;
    animation-name: unexpandedanimation-b-rfu6aujc7u;
    animation-duration: 0.8s;
    
}

@keyframes unexpandedanimation-b-rfu6aujc7u {
    0% {
        height: 120px;
    
    }


    100% {
        

        height: 20px;
       
    }
}

.childcontent[b-rfu6aujc7u] {
    position: relative;
    animation-name: contentanim-b-rfu6aujc7u;
    animation-duration: 0.7s;
    border: none
}
@keyframes contentanim-b-rfu6aujc7u {
    0% {
        left: 0px;
        top: -25px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

#label[b-rfu6aujc7u] {
    position: relative;
    top: -10px;
    border: none;
    background-color: #5e92f3;
    border-radius: 3px;
}
/* /Pages/DropZonePg.razor.rz.scp.css */
body[b-skfs493v7z] {
}


@media (min-width: 768px) {

    .dropzone-style[b-skfs493v7z] {
        overflow: auto;
        white-space: nowrap;
    }
}





/* /Pages/Index.razor.rz.scp.css */
body[b-94th9x7r8o] {
}

/* /Pages/NoteCardsPg.razor.rz.scp.css */

body[b-3hcsrndfyc] {
}

ul.nclist-style[b-3hcsrndfyc], li[b-3hcsrndfyc] 
{
    display: inline-block;
    
}

.navbuttons[b-3hcsrndfyc] {
    /* Set the display property to flex to make the element a flex container */
    display: none;
    /* Set the flex-direction property to column to stack the child elements vertically */
    flex-direction: column;
    /* Optionally, set the align-items property to start to align the child elements horizontally within the container */
    align-items: start;
    /* Optionally, set the justify-content property to start to align the child elements vertically within the container */
    justify-content: start;
}



.shownavbtns:hover + .navbuttons[b-3hcsrndfyc] {
    display: flex;
}
.navbuttons:hover[b-3hcsrndfyc] {
    display: flex;
}



.npnavbutton[b-3hcsrndfyc] {
    width:32px;
    height:32px;
    background-color:#1565c0;
}

.npnavbutton-disabled[b-3hcsrndfyc] {
    width: 32px;
    height: 32px;
}
.npnavbutton:hover[b-3hcsrndfyc] {
    width: 32px;
    height: 32px;
    background-color: #5e92f3;
    
}


.npnavbutton:active[b-3hcsrndfyc] {
    width: 32px;
    height: 32px;
    background-color: #003c8f;
}

/* Tooltip container */
.sn-tooltip[b-3hcsrndfyc] {
    position: relative;
    display: inline-block;
}

    /* Tooltip text */
    .sn-tooltip .sn-tooltiptext[b-3hcsrndfyc] {
        visibility: hidden;
        min-width: 200px;
        background-color: #1565c0;
        color: #f5f5f5;
        text-align: center;
        border-radius: 4px;
        border:1px solid darkgray;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        margin-left: -32px;
    }

        /* Position the first tooltip */
        .sn-tooltip .sn-tooltiptext.sn-tooltip-up[b-3hcsrndfyc] {
            bottom: 115%;
            left: 100%;
        }

        /* Position the second tooltip */
        .sn-tooltip .sn-tooltiptext.sn-tooltip-right[b-3hcsrndfyc] {
            bottom: 0%;
            left: 210%;
        }

/* Show tooltip on hover */

    .sn-tooltip:hover .sn-tooltiptext[b-3hcsrndfyc],
    .sn-tooltip:focus .sn-tooltiptext[b-3hcsrndfyc] {
        visibility: visible;
    }


.expander-style[b-3hcsrndfyc] {
    width: 50%;
    left: 25%;
    position: absolute;
    bottom: 10px;
    background-color: white
}
@media (max-width: 600px) {
    expander-style[b-3hcsrndfyc] {
        width: 75%;
        left: 12%;
        position: absolute;
        bottom: 10px;
        background-color: greenyellow
    }
}

.sn-container[b-3hcsrndfyc] {
    position: relative;
    height: 100vh; /* Set a height to the container so it takes the full viewport height */
}

.sn-addnotebutton[b-3hcsrndfyc] {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-39%, -50%);
}
/* /Shared/SNMainLayout.razor.rz.scp.css */





@media (min-width: 768px) {
    .navbar .container-fluid[b-7dgyrkm5s7], .navbar-collapse[b-7dgyrkm5s7], .navbar-nav[b-7dgyrkm5s7] {
        /*
  flex-direction: column;
        align-items: flex-start;
       */
    }

   
    .navbar-brand[b-7dgyrkm5s7]{
        margin-left: .5rem;
        
    }

    
}


.navbar .navbar-nav .nav-link[b-7dgyrkm5s7] {
    color: black;
    font-size: 1.1em;
}

.navbar-brand[b-7dgyrkm5s7] {
    font-size: 1.5em;
    font-weight: bold;
}



body[b-7dgyrkm5s7] {

}
/* /Shared/SNmodal.razor.rz.scp.css */
body[b-1cdtj998h0] {
}


.SNmodal[b-1cdtj998h0] {
    position:  fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: none;
    z-index: 10;
    margin: auto;
   
    animation: popup-b-1cdtj998h0 0.4s ease-in-out;
}

@keyframes popup-b-1cdtj998h0 {
    from {
        transform: scale(0) translate(-50%, -50%);
    }

    to {
        transform: scale(1) translate(-50%, -50%);
    }
}


.SNmodal-container[b-1cdtj998h0] {
    position: relative;
    width: 600px;
    height: 200px;
    background-color: #fff;
    margin: auto;
    padding: 20px;
   
}

.SNmodal-content[b-1cdtj998h0] {

    margin-bottom: 20px;
}

.SNmodal-close[b-1cdtj998h0] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.modal-backdrop[b-1cdtj998h0] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9;
}
/* /Shared/SNNavMenu.razor.rz.scp.css */



@media (min-width: 768px) {
    .navbar-nav[b-5iz0rivyh9] {
        flex-direction: column;
        align-items: flex-start;
    }

    .ul-style[b-5iz0rivyh9] {
        height: 100vh;
        /*
        border-style: solid;
        
           border-color:blue;
       */
    }
   
}



.navbar-nav .nav-link[b-5iz0rivyh9] {
    color: black;
    font-size: 1.1em;
}

.list-group-item[b-5iz0rivyh9] {

}



body[b-5iz0rivyh9] {
}
