@using BlazorApp1.Helpers
@using BlazorApp1.ViewModels

@inject SharedDataService dataSvs
@inject SkiaServices skiaSvs

@inject NoteViewModel NoteVM

@if (ReadOnly == false)
{
        <div id="summarypannel" class="h-100">


                <div class="position-relative p-0 " style="height: inherit;">
                        <div class="font-class gradient-blue px-1" style="display: grid; grid-template-columns: auto 1fr auto; 
                        align-items: center; min-width: 300px; height: 40px;
                        border-top-left-radius: 5px; border-top-right-radius: 5px;">

                                <div>Summary</div>
                                <div></div> <!-- Empty column -->
                                @if (!string.IsNullOrEmpty(dataSvs.editNote.Text))
                                {

                                        <div class="text-muted  ">
                                                @dataSvs.editNote.Text.Length / 1500

                                        </div>
                                }


                        </div>
                        <textarea @bind="dataSvs.editNote.Text" @bind:event="oninput"
                                @onfocusout="() =>{ skiaSvs.UpdateBitmap();}" rows="5" maxlength="1500"
                                style="height: calc(100% - 40px); min-width: 300px; border-radius: 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; "
                                class="form-control font-class" placeholder="Write something" aria-label="Summary">

                        </textarea>
                </div>



        </div>

}
else
{

        <div id="summarypannel" class=" h-100">


                <div class="position-relative p-0 " style="height: inherit;">
                        <div class="font-class gradient-blue px-1" style="display: grid; grid-template-columns: auto 1fr auto; 
                        align-items: center; min-width: 300px; height: 40px;
                        border-top-left-radius: 5px; border-top-right-radius: 5px;">

                                <div>Summary</div>
                                <div></div> <!-- Empty column -->
                                @if (!string.IsNullOrEmpty(dataSvs.editNote.Text))
                                {

                                        <div class="text-muted  ">
                                                @dataSvs.editNote.Text.Length / 1500

                                        </div>
                                }


                        </div>
                        <textarea id="npsummarypannel" readonly rows="5"
                                style="height: calc(100% - 40px); min-width: 300px; border-radius: 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; "
                                class="form-control font-class" aria-label="Summary">
                                @dataSvs.SelectedNoteCard.Note.Text
                        </textarea>
                </div>



        </div>




}




@code {




        [Parameter]
        public bool ReadOnly { get; set; }


}
