@page "/authentication/{action}"
@using BlazorApp1.Helpers
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


<h3>Authentication</h3>

<RemoteAuthenticatorView Action="@Action" />


@code {
    [Parameter] public string Action { get; set; }

    
}
