@page "/counter"

@using BlazorApp1.Data
@using System.Text.Json
@using BlazorApp1.Helpers

@inject IJSRuntime JS

@inject CounterService Svc

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @Svc.Count</p>

<button class="btn btn-primary" @onclick="Svc.Increment">Click me</button>


@code {


    private int currentCount = 0;

    private  void  IncrementCount()
    {
        currentCount++;


    }



}
