
body {
}

ul.nclist-style, li 
{
    display: inline-block;
    
}

.navbuttons {
    /* Set the display property to flex to make the element a flex container */
    display: none;
    /* Set the flex-direction property to column to stack the child elements vertically */
    flex-direction: column;
    /* Optionally, set the align-items property to start to align the child elements horizontally within the container */
    align-items: start;
    /* Optionally, set the justify-content property to start to align the child elements vertically within the container */
    justify-content: start;
}



.shownavbtns:hover + .navbuttons {
    display: flex;
}
.navbuttons:hover {
    display: flex;
}

.nullnotecardpg {
    width: 100vw;
    height: 100vh;
   
}

.npnavbutton {
    width:32px;
    height:32px;
    background-color:#1565c0;
}

.npnavbutton-disabled {
    width: 32px;
    height: 32px;
}
.npnavbutton:hover {
    width: 32px;
    height: 32px;
    background-color: #5e92f3;
    
}


.npnavbutton:active {
    width: 32px;
    height: 32px;
    background-color: #003c8f;
}

.sn-tooltip {
    position: relative;
    display: inline-block;
}

    .sn-tooltip .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: #1565c0;
        color: #f5f5f5;
        text-align: center;
        border-radius: 4px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 115%;
        left: 100%;
        margin-left: -32px;
    }

    .sn-tooltip:hover .tooltiptext {
        visibility: visible;
    }


.expander-style {
    width: 50%;
    left: 25%;
    position: absolute;
    bottom: 10px;
    background-color: white
}
@media (max-width: 600px) {
    expander-style {
        width: 75%;
        left: 12%;
        position: absolute;
        bottom: 10px;
        background-color: greenyellow
    }
}