@page "/PrivacyPolicy"


<head>
    <title>sNotes Privacy Policy</title>
</head>


<MCard Class="ps-5 py-4 pe-4">

    <h1>Privacy Policy</h1>

    <h2>Information We Collect</h2>
    <ul>
        <li>
            Usage information: This may include information about the features you use,
            the pages you visit, the duration of your sessions and the actions
            you perform in the app.
        </li>
        <li>
            Device information: This may include information about the device you use to access the app,
            including the device type, operating system, version,
            and manufacturer.
        </li>
    </ul>

    <h2>Purpose of Information Collection</h2>
    <ul>
        <li>We use the usage information we collect to understand how our users interact with our app, identify areas of improvement, and develop new features that align with user needs and preferences.</li>
        <li>We use the device information we collect to ensure that our app is compatible with different types of devices and to troubleshoot any issues that may arise with specific device configurations.</li>
    </ul>

    <h2>Information We Don't Collect</h2>
    <ul>
        <li>We do not collect any personally identifiable information about you, such as your name, address, telephone number, or email address, when you use the app unless you provide it to us voluntarily. This means that we do not ask for or require any personal information from you in order to use the app, and we will not collect any personal information from you without your explicit consent.</li>
        <li>We do not collect any sensitive information about you, such as your financial information, medical information, or personal preferences, unless you provide it to us voluntarily.</li>
    </ul>

    <h2>Advertising and Affiliate Marketing</h2>
    <p>sNotes uses third-party advertising and affiliate marketing to monetize the app. We work with carefully selected partners who may collect and use data about your usage of the app for the purpose of showing you relevant ads and tracking affiliate sales.</p>
    <p>Ads that may be served to you on sNotes include banner ads, interstitial ads, and native ads. These ads may be targeted based on your usage of the app, such as the features you use or the pages you visit. We may also use cookies and other tracking technologies to collect data about your usage of the app for the purpose of targeting ads.</p>
    <p>If you wish to opt out of targeted advertising and affiliate tracking, you can do so by adjusting the settings on your device or by using opt-out tools provided by our advertising and affiliate partners.</p>
    <p>Please note that our advertising and affiliate partners may have their own privacy policies and data collection practices, which are separate from our own.We are not responsible for the practices of these third-party companies.</p>

    <h2>Google Analytics</h2>
    <p>
        We use Google Analytics to gather usage statistics about sNotes in order to improve our service.
        Google Analytics uses cookies to collect information about your use of the app, including the number of visits,
        the average duration of a visit, and the pages viewed. This information is collected and stored by Google and is governed by Google's privacy policy.
        You may opt out of Google Analytics by following the instructions provided by Google.
    </p>

    <h2>Information Use and Sharing</h2>
    <p>We will not share any of the information we collect from you through sNotes with any third parties, except as provided in this policy.</p>

    <h2>Changes to Our Privacy Policy</h2>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>



</MCard>

@code {

}
