@page "/TermsAndConditions"


<head>
    <title>sNotes Terms and Conditions</title>
</head>

<MCard Class="ps-5 py-4 pe-4">


    <h1>Terms and Conditions</h1>


    <h2>Use of the Service</h2>
    <p>You may use sNotes only for lawful purposes and in accordance with the terms of use. You agree not to use sNotes to upload, post, host, or transmit any content that is unlawful, harmful,threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, or otherwise objectionable. You may not use sNotes to upload, post, host, or transmit any content that infringes any patent, trademark, trade secret, copyright, or other proprietary rights of any party.</p>
    <p>By using sNotes, you are agreeing to comply with and be bound by the following terms of use, which together with our privacy policy govern sNotes's relationship with you in relation to this application.</p>

    <h2>Ownership</h2>
    <p>The sNotes application, including all software, technology, designs, text, graphics, images, logos, audio, video, and other content and materials, is the property of us or our licensors and is protected by copyright, trademark, and other intellectual property laws. We grant you a limited, non-transferable, and non-exclusive license to use the sNotes application for your personal, non-commercial use only. You may not reproduce, distribute, modify, or create derivative works of the sNotes application or its content without our express written consent.</p>

    <h2>User Content</h2>
    <p>sNotes allows users to submit, upload, publish, or otherwise make available text, images, audio, or other content (collectively, "User Content"). You are solely responsible for any User Content you submit, upload, publish, or otherwise make available through the sNotes application. By submitting, uploading, publishing, or otherwise making available any User Content, you represent and warrant that:</p>
    <ul>
        <li>You are the author of the User Content or have obtained all necessary permissions and licenses to submit, upload, publish, or otherwise make available the User Content;</li>
        <li>The User Content does not infringe any intellectual property rights or other rights of any third party;</li>
        <li>The User Content complies with these terms of use and all applicable laws.</li>
    </ul>
    <p>We reserve the right, but do not have the obligation, to review, edit, or remove any User Content that we determine, in our sole discretion, to be in violation of these terms of use or otherwise objectionable.</p>

    <h2>Limitation of Liability</h2>
    <p>You understand and agree that sNotes, its affiliates, and their respective officers, directors, employees, agents, licensors, and suppliers will not be liable for any direct, indirect, incidental, special, consequential, or punitive damages, including but not limited to, loss of profits, data, use, goodwill, or other intangible losses, resulting from:</p>
    <ul>
        <li>Your access to or use of or inability to access or use the sNotes application;</li>
        <li>Any conduct or content of any third party on the sNotes application;</li>
        <li>Any content obtained from the sNotes application;</li>
        <li>Unauthorized access, use, or alteration of your transmissions or content.</li>
    </ul>

    <h2>Indemnification</h2>
    <p>You agree to defend, indemnify and hold harmless sNotes, its affiliates, and their respective officers, directors, employees, agents, licensors, and suppliers from and against any claims, actions or demands, liabilities, and settlements including without limitation, reasonable legal and accounting fees, resulting from or alleged to result from, your violation of these terms of use or your use of the sNotes application.</p>

    <h2>Changes to the Terms of Use</h2>
    <p>We reserve the right to make changes to the terms of use at any time. Any changes will be posted on this page and will become effective immediately upon posting.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about our terms of use or privacy policy, please contact us,snotesproject@gmail.com.</p>



</MCard>

@code {

}
