




@media (min-width: 768px) {
    .navbar .container-fluid, .navbar-collapse, .navbar-nav {
        /*
  flex-direction: column;
        align-items: flex-start;
       */
    }

   
    .navbar-brand{
        margin-left: .5rem;
        
    }

    
}


.navbar .navbar-nav .nav-link {
    color: black;
    font-size: 1.1em;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}



body {
  
}
