
@if (IsOpen)
{

    <div class="SNmodal position-absolute top-50 start-50 translate-middle container-sm" style="display: block; max-width: @(Width)px; max-height: @(Height)px;">
        <div style="width: 100%; height: 100%;">
            @ChildContent
        </div>
    </div>
}
else
{
   <div class="SNmodal"   style="display: none;" >
    <div class="SNmodal-container">
        <div class="SNmodal-content">
            <h1>@Title</h1>
            <p>@Body</p>
        </div>
        <button class="SNmodal-close" @onclick="CloseModal">Close</button>
    </div>
</div> 
}


@if (IsOpen)
{
    <div class="modal-backdrop" ></div>
}

@code {
    public string Title { get; set; }
    public string Body { get; set; }
    [Parameter]
    public bool IsOpen { get; set; } 

    [Parameter]
    public int Width { get; set; }
    [Parameter]
    public int Height { get; set; } 

    [Parameter]
    public RenderFragment ChildContent { get; set; }


    public void Show()
    {
        IsOpen = true;
    }

    public void CloseModal()
    {
        IsOpen = false;
    }
}