@using BlazorApp1.Data


 <div class=" mb-1 " @oncontextmenu:preventDefault="true"
                             @oncontextmenu="@(args => ShowPacketContextMenu(args, Packet))">

@if(Packet.Parent is null){

<div class="packetListItem shadow w-100 fw-medium text-white mb-1 py-2" style="height: 48px;" @onclick="OnClickMenuItem">
                                        
    <div class="px-1 " style=" text-align:center ;line-height: 30px;" >
        @Packet.Title
    </div>
                                           
</div>


}else{
    <div class="packetListItem shadow w-100 fw-medium text-white mb-1 py-2" style="height:55px;" @onclick="OnClickMenuItem">

    <div class="ps-1 " style=" text-align:left ;line-height: 5px; font-size:small;">
        @Packet.Parent.Title
    </div>                                        
    <div class="px-1 " style=" text-align:center ;line-height: 40px;">
         @Packet.Title
    </div>
                                           
</div>

}


</div>

@code {
   
   [Parameter]
   public Packet Packet { get; set; }

   [Parameter]
   public EventCallback OnClick { get; set; }
   
   [Parameter] 
   public EventCallback<MouseEventArgs> OnContextMenu { get; set; }

    // This method can be used to trigger the callback
    private async Task ShowPacketContextMenu(MouseEventArgs args, Packet packet)
    {
        // Execute the callback if it's set
        if (OnContextMenu.HasDelegate)
        {
            await OnContextMenu.InvokeAsync(args);
        }
    }
   
   private async Task OnClickMenuItem (){

     await   OnClick.InvokeAsync();
     
   }

   

}
