
$theme-colors: ( primary:#1565c0, danger: #ba000d, success: #087f23, );

$gradient-blue: linear-gradient(to right bottom,#5e92f3,#97aaf6,#c0c4f8,#e2e1fb,#ffffff);

.gradient-blue {
    background-image: $gradient-blue;
}

$gradient-coral: linear-gradient(to left top, #ff7f50,#ff8c5a,#ff9965,#ffa571,#ffb07e ) ;
.gradient-coral{
    background-image:$gradient-coral;
}

$gradient-danger: linear-gradient(to right bottom, #ba000d,#de4e6e,#e58fbb,#e7caeb,#ffffff );

.gradient-danger {
    background-image: $gradient-danger;
}


$bezier: cubic-bezier(.25,1,.25,1); // Define a variable for the cubic-bezier curve
$direction: left, right, up, down; // Define a list of directions

@keyframes slideanim-left {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideanim-right {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideanim-up {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideanim-down {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

@mixin slide-animation($direction) {
    @keyframes slideanim-#{$direction} {
        0% {
            transform: translate(#{if($direction == "left", 100px, 0)}, #{if($direction == "up", 100px, 0)});
        }

        100% {
            transform: translate(0, 0);
        }
    }

    animation: slideanim-#{$direction} 1s $bezier;
}

.slide-animation-left {
    animation: slideanim-left 1s $bezier;
}

.slide-animation-right {
    animation: slideanim-right 1s $bezier;
}

.slide-animation-up {
    animation: slideanim-up 1s $bezier;
}

.slide-animation-down {
    animation: slideanim-down 1s $bezier;
}


.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.font-class {
    font-family: Readex Pro,Verdana,Cambria,Calibri,Helvetica,Tahoma,Arial;
}


@import "../wwwroot/lib/bootstrap/scss/bootstrap";


/*

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../wwwroot/lib/bootstrap/scss/functions";

// 2. Include any default variable overrides here


// 3. Include remainder of required Bootstrap stylesheets
@import "../wwwroot/lib/bootstrap/scss/variables";
@import "../wwwroot/lib/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../wwwroot/lib/bootstrap/scss/root";
@import "../wwwroot/lib/bootstrap/scss/reboot";
@import "../wwwroot/lib/bootstrap/scss/type";
@import "../wwwroot/lib/bootstrap/scss/images";
@import "../wwwroot/lib/bootstrap/scss/containers";
@import "../wwwroot/lib/bootstrap/scss/grid";

// 5. Add additional custom code here

 */
