body {
}

@media (min-width: 768px) {

    .ul-style {
        height: 100vh;
        /*
 border-style: solid;
        border-color: burlywood;
        */

        overflow: auto
    }
}


@media (max-width: 768px) {

    .ul-style {
        height: 30vh;
        /*
              border-style: solid;
        border-color: burlywood;
        */

        overflow: auto
    }
}

::-webkit-scrollbar {
    width: 1px;
}
