
@if(Expanded){

    <div class="expanded">
      
        <div id="label" @onclick ="Toggle">
            <MIcon Dense 
               Color="grey darken-3">
                mdi-chevron-up
            </MIcon>
            <span>
                <b>
                    @Label
                </b>

            </span>
           
        </div>

        <div class="w-100 childcontent ">
            @ChildContent
       </div>
           
           
       
      
    </div>

}else{

    <div class="unexpanded" >

       
        <div id="label" @onclick="Toggle">
             <MIcon Dense
               Color="grey darken-3">
                mdi-chevron-down
              </MIcon>
            <span>
                <b>
                    @Label
                </b>
               
            </span>
           
        </div>
       
    </div>

}

@code{
    [Parameter]
    public bool Expanded { get; set; } = true;
    [Parameter]
    public string Label { get; set; } 
    [Parameter]
    public RenderFragment ChildContent { get; set; }

   
	void Toggle()
	{
		Expanded = !Expanded;
	}
}